/* Message section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    ;
}

.furniture-heading {
    background-image: url(/assets/images/furniture.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.basket-heading {
    background-image: url(/assets/images/basket.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}


main button {
    font-family: 'Dosis';
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration-line: underline;
    border: 0;
    background: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Best Production Section */
.product-section {
    width: 92%;
    height: auto;
    margin: 0 auto;
    margin-top: 13rem;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    width: 100%;
}

.container {
    width: 100%;
    height: 21.88rem;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item p {
    padding-bottom: 1rem;
    font-family: "poppins", sans-serif;
}

.knight {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Knight.webp);
    background-position: center;
    background-size: cover;
}

.wheat {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Wheat.webp);
    background-position: center;
    background-size: cover;
}

.addidas {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Addidas.webp);
    background-position: center;
    background-size: cover;
}

.pencil {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Desk.webp);
    background-position: center;
    background-size: cover;
}

.ripple {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Ripple.webp);
    background-position: center;
    background-size: cover;
}

.canvas {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Economical.webp);
    background-position: center;
    background-size: cover;
}

.kors {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Michael.webp);
    background-position: center;
    background-size: cover;
}

.bostanten {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/images/Bostanten.webp);
    background-position: center;
    background-size: cover;
}

h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 2rem;
}

/* Media Query for Responsive Layout */

/* Message Section */
@media only screen and (max-width: 600px) {
    .col-container {
        width: 92%;
        height: 250px;
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        padding-top: 3rem;
        flex: 0 1 auto;
        flex-wrap: wrap;
    }

    .message {
        width: 100%;
        height: 100%;
    }

    .break::before {
        content: "\a";
        white-space: pre;

    }
}

/* Message Section */
@media only screen and (min-width: 601px) and (max-width:899px) {
    .col-container {
        width: 92%;
        height: 18.69rem;
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        padding-top: 3rem;
        justify-content: space-between;
    }

    .message {
        width: 49%;
        height: 100%;
    }

    .break::before {
        content: "\a";
        white-space: pre;

    }

    /* Best Product Sectiom  */
    .product-section {
        width: 92%;
        height: auto;
        margin: 0 auto;
        margin-top: 1.5rem;
    }

    .product-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 2rem auto;
        width: 100%;
    }

    .container {
        width: 31%;
        height: 21.88rem;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: auto;
    }

    .kors,
    .bostanten {
        flex: 0.33;
    }

}

/* Message Section desktop */
@media only screen and (min-width: 900px) {
    .col-container {
        width: 98%;
        height: 50vh;
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        padding-top: 3rem;
        flex: 0 1 auto;
        justify-content: space-between;
    }

    .message {
        width: 49%;
        height: 100%;
    }

    /* Best Product Section desktop */
    .product-section {
        width: 98%;
        height: auto;
        margin: 0 auto;
        margin-top: 1.5rem;
    }

    .product-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin: 2rem auto;
        width: 100%;
    }

    .container {
        width: 23.5%;
        height: 21.88rem;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1400px) {
    .break::before {
        display: none;
    }

    .message h2 {
        font-size: 2rem;
        padding-left: 3rem;
        font-family: 'poppins', sans-serif;
        font-weight: 300;
    }

    .message button {
        padding-left: 3rem;
    }
}