* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Recent News Section  */

.recent-news {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.recent-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.container1 {
    width: 100%;
    height: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first {
    background:  url(/assets/images/Recent1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second {
    background:  url(/assets/images/Recent2.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.third {
    background:  url(/assets/images/Recent3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-start {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.first p:first-child,
.second p:first-child,
.third p:first-child {
    background-color: #FFFFFFD4;
    width: 18%;
    padding: 15px 2px;
    margin-bottom: 7rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    border: 2px solid rgba(235, 231, 231, 0.83);
    outline: 5px solid #FFFFFFD4;
    line-height: 0.5;
}

.first p:nth-child(2),
.second p:nth-child(2),
.third p:nth-child(2) {
    text-align: start;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
    padding: 0 1.4rem;
}

.first span,
.second span,
.third span {
    font-size: 0.8rem;
}

 .break::before {
    content: "\a";
    white-space: pre;
 }

 .flex-start button {
    margin-left: 1.5rem;
 }

 .recent-news h3{
    margin-top: -1.5rem;
    margin-bottom: 1.8rem;
 }

 /* footer Phone */

 footer {
    background-color: #EFEFEF;
    margin-top: 67px;
    height: 570px;
 }

 footer img {
    margin: 42px 0 28px 12px;
 }

 address {
    margin: 28px 0 63px 19px;
    font-style: normal;
 }

 address a {
     text-decoration: none;
     margin-bottom: 16px;
     color: black;
 }

 .address {
    margin-left: 17px;
    padding-bottom: 10px;
    text-align: center;
 }

 address .fa-solid,
 .fa-regular {
    padding-right: 0.5rem;
 }

 .flex-footer a{
    text-decoration: none;
    display: inline-block;
 }

 .newsletter-form p {
    font-size: 16px;
    margin: 65px 36px 19px 19px;
 }

 .search-bar input::placeholder {
     padding-left: 14px;
     font-size: 14px;
 }

.search-bar {
    display: flex;
}

.search-bar input {
    width: 336px;
    height: 50px;
    margin-left: 19px;
    border-radius: 4px;
    border: 0.4px solid  #d9d9d9;
}
.search-bar button {
    margin-left: -2rem;
    margin-right: 40px;
    padding: 0px 20px;
    cursor: pointer;
    border: 0.4px solid #d9d9d9;
    background-color: #d9d9d9;
}

.hr {
    margin: 43.02px 20px 22px 19px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.36);
}

.footer-content {
    margin: 0 118px 30px 19px;
}
/* Media Query for Responsive Layout */

@media only screen and (min-width: 600px) {
  .container1 {
        width: 40%;
        height: 20rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .first, .second {
        flex-grow: 1;
    }
    .third {
        width: 49%;
    }

    .first p:first-child,
    .second p:first-child,
    .third p:first-child {
        background-color: #FFFFFFD4;
        width: 18%;
        padding: 15px 2px;
        margin-bottom: 7rem;
    }

    .first p:nth-child(2),
    .second p:nth-child(2),
    .third p:nth-child(2) {
        text-align: start;
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
        padding: 0 1.4rem;
    }

    .footer-content {
        margin: 0 118px 30px 19px;
    }
}

/* Footer Tablet screen  */

@media (min-width: 768px) {
    footer {
       height: 360px;
    }

    .flex-footer {
        display: flex;
        column-gap: 5rem;
    }

    address {
        margin: 31px  0 34px 37px;
        width: 262px;
        height: 95px;
    }

    .newsletter-form {
        width: 336px;
        height: 113px;
        margin-right: 34px;
    }

    .newsletter-form p{
        margin: 30px 0 19px 0;
        padding-left: 20px;
        font-size: 1rem;
        width: 350px;
        height: 54px;
    }

 .search-bar input {
     width: 350px;
     height: 50px;
     margin-left: 19px;
     border-radius: 4px;
     border: 0.4px solid #d9d9d9;
 }

 .search-bar button {
    margin-left: -2rem;
    padding: 2px 20px;
    cursor: pointer;
    border: 0.4px solid #d9d9d9;
 }

 footer img {
    margin-left: 37px;
 }

}


@media only screen and (min-width: 900px) {
    .recent-news {
        width: 98%;
    }

    .container1 {
       width: 20%;
       height: 21.88rem;
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       flex: auto;
    }

    .first p:first-child,
    .second p:first-child,
    .third p:first-child {
        background-color: #FFFFFFD4;
        width: 18%;
        padding: 15px 2px;
        margin-bottom: 9rem;
    }

    .first p:nth-child(2),
    .second p:nth-child(2),
    .third p:nth-child(2) {
        text-align: start;
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
        padding: 0 1.4rem;
    }

     footer img {
         margin: 40px 607px 0 155px;
     }

    .flex-footer {
        display: flex;
        column-gap: 5rem;
        justify-content: space-between;
        margin: 0 123px;
    }
}

@media only screen and (min-width: 1660px) {
    .container1 {
            width: 20%;
            height: 30rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: auto;
        }

     .first p:first-child,
     .second p:first-child,
     .third p:first-child {
         background-color: #FFFFFFD4;
         width: 12%;
         padding: 25px 15px;
         margin-bottom: 10.5rem;
         font-size: 2rem;
     }

     .first p:nth-child(2),
     .second p:nth-child(2),
     .third p:nth-child(2) {
         text-align: start;
         font-size: 1.3rem;
         margin-bottom: 0.7rem;
         padding: 0 1.4rem;
     }

        .first span,
        .second span,
        .third span {
          font-size: 1rem;
    }
     /* Footer large screen desktop  */
     
     footer img {
         margin: 40px 607px 0 355px;
     }

     .flex-footer {
         margin: 0 20rem;
     }
}